<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body ng-app="myapp">
    <div ng-controller="brands">
        <form>
            <table>
                <tr>
                    <td>Enter Brand Name</td>
                    <td><input type="text" name="brand_name" ng-model="brand_name" ng-model="brand_name"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" value="Add Product" ng-click="AddBrand()">
                    </td>
                </tr>
            </table>

        </form>
    </div>
</body>

</html>